<div class="footer">
<div class="containerBox">
        <h6><!--&#169;--><i class="fa-regular fa-copyright fa-lg"></i> ShopNow. All Rights Reserved. 2023 
                <br>
                <br>
                <i class="fa-brands fa-facebook fa-lg" data-toggle="tooltip" data-placement="top" title="Facebook"></i>   &nbsp;&nbsp;
                <i class="fa-brands fa-twitter fa-lg" data-toggle="tooltip" title="Twitter"></i> &nbsp;&nbsp;
                <i class="fa-brands fa-instagram fa-lg" data-toggle="tooltip" title="Instagram"></i> &nbsp;&nbsp;
                <i class="fa-regular fa-envelope fa-lg" data-toggle="tooltip" title="Mail"></i>
                </h6>
</div>
</div>
