<div class="footer">
<div class="containerBox">
        <h6><!--&#169;--><i class="fa-regular fa-copyright fa-lg"></i> ShopNow. All Rights Reserved. 2023 
                <br>
                <br>
                <i class="fa-brands fa-facebook fa-lg"></i>   &nbsp;&nbsp;
                <i class="fa-brands fa-twitter fa-lg"></i> &nbsp;&nbsp;
                <i class="fa-brands fa-instagram fa-lg"></i> &nbsp;&nbsp;
                <i class="fa-regular fa-envelope fa-lg"></i>
                </h6>
</div>
</div>
