<div style="background-image: url('assets/backImage.jpg');">
    <br>
    <div class="container headingClass">
        <h2 class="">Clothing</h2>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 d-flex" *ngFor="let i of productData| slice:6:10">
                <div class="card" style="width:300px">
                    <a routerLink="productPage/{{i.id}}" class="stretched-link zoom" style="color: black">
                        <img class="card-img-bottom  p-4" src="{{i.image}}" alt="Card image" style="height:300px;">
                        <div class="card-body">
                            <h4 class="card-title">{{i.name}}</h4>
                            <p class="card-text">{{i.symbol}}
                                <strong style="font-size: 25px">{{i.price}} </strong>
                                <span style="color: red">
                                    <s>{{i.actualPrice}}</s>
                                </span>
                                <br>
                                <span style="color: green"> {{i.offer}}</span>
                                <br>
                                {{i.delivery}}
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="#" class="btn btn-primary">{{stringData.addToCart}}</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>