<ul>
    <li>
        <img src="assets/Logo.png" style="height: 65px;">
    </li>

    <li class="home">
        <a href="#">Home</a>
    </li>
    <li class="hello">
        <a>Hello! Harsh</a>
    </li>
    <li class="icon">
        <a class="active">
            <i class="fa-solid fa-user fa-2x" style="height: 50px;"></i>
        </a>
        <ul class="dropdown">
            <li class="dropdowna">
                Name: Harsh
            </li>
            <li class="dropdowna">
                Address: C-197,Beta-1,Greater Noida
            </li>
            <li class="dropdowna">
                Mobile No: 7845961236
            </li>
        </ul>
    </li>
    <div class="form-search" method="get" action="#">
        <input type="search" name="search" placeholder="search your product here">
        <button type="submit">Search</button>
    </div>
</ul>