<ul>
    <li>
        <a href="">
            <img src="assets/shopNowLogo.png" style="height: 65px; width: 95px">
        </a>
    </li>

    <li class="home">
        <a href="">
            <i class="fa-solid fa-house fa-lg"></i>
        </a>
    </li>
    <li class="sidebar">
        <a>
            <app-sidebar></app-sidebar>
        </a>
    </li>
    <li class="myOrders">
        <a>
            My Orders
        </a>
    </li>
    <li class="hello">
        <a>Hello!
            <strong>Harsh</strong>
        </a>
    </li>
    <li class="icon">

        <a class="active">

            <i class="fa-solid fa-user fa-lg" ></i>
        </a>

        <ul class="dropdown">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <i class="fa-sharp fa-solid fa-user"></i>
                    </div>
                    <div class="col-sm-6">
                        Harsh
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                    </div>
                    <div class="col-sm-6">
                        C-197, Beta-1, Greater Noida                     
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-2">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-sm-6">
                        7845961236                     
                    </div>
                </div>           
            </div>
        </ul>
    </li>
    <li class="cart">
        <a>
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </a>
    </li>
    <div class="form-search" method="get" action="#">
        <div class="ng-autocomplete">
            <ng-autocomplete [data]="productData" [searchKeyword]="keyword" placeholder="search....." (keyup.enter)="submitSearch()"
                [(ngModel)]="searchText" type="text" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"> </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <a (click)="submitSearch()"  >
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
</ul>



<div *ngIf="productPage()">
    <app-search-products [item]="productsearch"></app-search-products>
</div>
<div *ngIf="notFound()">
    <app-not-found></app-not-found>
</div>