ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #333; 
    bottom: 0;
    margin-top: -24px;

}

li { 
    float: left; 
} 

li a { 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 0px 0px; 
    text-decoration: none; 
} 

li img { 
    display: block; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
} 

.icon{ 
    display: flex; 
    position:absolute; 
    right: 50px; 
    top: 20px; 
}
.hello{
    display: flex;
    position:absolute;
    right: 100px;
    top: 22px;
    font-size: 14px;
}
.myOrders{
    display: flex;
    position:absolute;
    right: 275px;
    top: 22px;
    font-size: 14px;
}

.sidebar{
    display: flex; 
    position:absolute; 
    left: 200px; 
    top: 33px;
}
.home{ 
    display: flex; 
    position:absolute; 
    left: 130px; 
    top: 20px; 
}

.cart{
    display: flex; 
    position:absolute; 
    right: 220px; 
    top: 20px;
}

.form-search{ 
    margin: 9px auto; 
    text-align: center; 
    font:  13px sans-serif; 
    max-width: 50%; 
    position: relative; 
}

.form-search input{ 
    width: 60%; 
    box-sizing: border-box; 
    border-bottom-left-radius: 2px; 
    border-top-left-radius: 2px; 
    background-color: #ffffff; 
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08); 
    padding: 14px 15px 14px 40px; 
    border: 1px solid #b6c3cd; 
    border-right: 0; 
    color:#4E565C; 
    outline: none; 
}

.form-search i{ 
    position: absolute;
    top: 12px;
    right: 220px;
    font-size: 16px;
    color:black;
}

ul li a:hover { 
    color: grey; 
    /* background:black;  */
}

ul li ul.dropdown { 
    /* min-width: 100%;  */
    /* Set width of the dropdown */ 
    background: black; 
    /* width: 200px; */
    display: none; 
    position: absolute; 
    z-index: 999; 
    left: -100px;
    top: 40px; 
}

ul li:hover ul.dropdown { 
    display: block; 
    background-color: #f2f2f2;
} 


.dropdowna { 
    display: block; 
    padding: 8px 25px; 
    color: #000; 
    text-decoration: none; 
}

.container{
    width: 265px;
    position: fixed;
    color: white;
    background-color: #333;
    height: 151px;
    right: 23px;
    top: 65px;
}
