    <ul>
        <li>
                    <i class="fa-solid fa-bars-staggered fa-xl"></i>
            <ul class="dropdown">
                <li>
                    <a routerLink="mobileAndAccessories">Mobile & Accessories</a>
                </li>
                <li>
                    <a routerLink="clothing">Clothing</a>
                </li>
                <li>
                    <a routerLink="homeEssentials">Home Essentials</a>
                </li>
            </ul>
        </li>
    </ul>
