.text {
  color: #f2f2f2;
  font-size: 90px;
  padding: 8px 12px;
  position: absolute;
  bottom: 240px;
  left:100px;
  width: 60%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.ease {
  animation-name: ease;
  animation-duration: 2.5s;
}

@keyframes ease {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.headingClass{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: black;
}

.popProduts{
  background-image: linear-gradient( to right, rgb(194, 181, 132),rgb(160, 143, 82));

}

.container-carousel{
  max-width: 1550px;
}




 